/* TODO: Reset y estilos base */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: #440808;
    background-color: #fafafa;
    line-height: 1.5;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 24px;
}

h1 {
    margin-bottom: 26px;
    font-size: 3rem;
}

h2 {
    margin-bottom: 18px;
}
/* TODO: Galería de productos */

.galeria {
    margin-bottom: 45px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 26px;
}

@media (min-width: 1024px) {
    .galeria {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* TODO: Estilo de cada tarjeta de producto */
.producto {
    background-color: aliceblue;
    border: 1px solid #fafafa;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.producto img {
    height: 200px;
    width: 100%;
    display: block;
    object-fit: cover;
}

.producto-info {
    padding: 18px;
}

.producto-info h2 {
    margin-bottom: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}

.precio {
    margin-bottom: 14px;
    color: indianred;
    font-size: 1.25rem;
    font-weight: bold;
}

.btn-comprar {
    background-color: darkcyan;
    color: #fafafa;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 7px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn-comprar:hover {
    background-color: #2F4F4F;
}

/* TODO: To-Do List */
.tareas {
    list-style: none;
}

.tarea {
    padding: 14px, 18px;
    display: flex;
    gap: 14px;
    align-items: center;
}

.tarea:nth-child(even) {
    background-color: darkseagreen;
}

.tarea input[type="checkbox"] {
    accent-color: darkcyan;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.tarea label {
    font-size: 1rem;
    cursor: pointer;
}
/* TODO: Diseño responsivo */
/* - Usar @media queries para cambiar entre mobile y desktop */
/* - La galería debe ser responsiva usando Grid + media queries */
